html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
    background-color: #ddc6d6;
    overflow: hidden; /* Disable scrollbars */
    display: block;  /* No floating content on sides */
    font-family: system-ui, sans-serif;
    color: #160138;
}

#mobile {
    visibility: hidden;
    position: absolute;
    width: 300px;
    top: 20vh;
    left: calc(50vw - 150px);
}

.main {
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
}

#welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-content {
    margin: 20px;
}

.header {
    font-size: xx-large;
}

#welcome-text {
    width: 750px;
}

#welcome-start {
    width: 12.5vw;
    height: 40px;
    font-size: large;
}

#sidebar {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 200px;
    height: 100%;
    border-right: 1px solid black;
    overflow-y: auto;
}

.feature {
    margin: 5px;
    background-color: #0037ff;
}

.feature:hover {
    background-color: #122e96;
}

.feature0 {
    width: 30px;
    height: 30px;
    background-size: contain;
}

.feature1 {
    width: 90px;
    height: 90px;
}

.feat-window {
    position: absolute;
    margin: 10px;
    left: 200px;
    background-color: grey;
    padding: 5px;
    color: white;
    border: 1px solid black;
}

#canvas-img {
    position: absolute;
    left: 200px;
    height: 100vh;
    width: calc(100vw - 200px);
    object-fit: cover;
}

#back-canvas {
    position: absolute;
    background-color: #eeeeee;
    left: 200px;
}

#canvas {
    position: absolute;
    left: 200px;
}

#test-container {
    position: absolute;
    right: 0;
    margin: 10px;
}

#test-instructions {
    display: inline-block;
    font-size: 20px;
}

#test-word {
    display: inline-block;
    padding: 10px;
    background-color: #ddc6d6;
    font-size: 30px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 5px;
}

#test-done {
    display: block;
    right: 0;
    position: absolute;
    margin-top: 10px;
    font-size: 15px;
    padding: 5px;
    background-color: #725098;
    color: #eeeeee;
}

#test-done:hover {
    background-color: #3f265c;
}

#choice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#choice-container {
    width: 700px;
}

.choice-button {
    display: inline-block;
    width: 40%;
    height: 100%;
    margin: 20px;
}